@if (isAddingItem) {
    console.log("isAddingItem = " + isAddingItem)
    <app-new-item (cancelItem)="onCancelAddItem()" (addItem)="onAddItem($event)"></app-new-item>
}

<section id="tasks">
    <header>
        <h2>{{name}}'s Items</h2>
        <menu>
            <button (click)="onStartAddItem()">Add Item</button>
        </menu>
    </header>

    <ul>
        @for (local_item of selectedUserTasks; track local_item.id) {
            <li>
                <app-item [myItem]="local_item" (complete)="onCompleteItem($event)"></app-item>
            </li>
        }
    </ul>


</section>